extends layout

block content
	.jumbotron
		.container
			h1.display-3 Flexibilidades

	.p-4.text-left.bg-light
		p Estamos interessados em lhe oferecer o melhor de uma análise exploratória, 
			| para tanto disponibilizamos graus de flexibilidade:

		.bd-example
		dl
			dt Mídia Digital
				dd Explorar a projeção dos atores disponíveis em diversas mídias digitais;
				dd Mídias digitais disponíveis: Facebook, Instagram, Twitter e Youtube.
			dt Quantidade de Atores
				dd Além de poder observar a projeção de um dado ator há a opção de comparar 
					| diversos atores.
			dt Aspectos de análise
				dd Cada mídia digital é um mundo a parte, como tal oferece diversos pontos 
					| de vista para um mesmo ator;
				dd Com consciência disso, oferecemos diversas possibilidades para as nossas 
					| mídias digitais.
