extends layout

block content
	.py-4.text-center
		h2 Espaço Exploratório
		p.lead
			| Aqui você tem a liberdade para fazer a sua pesquisa exploratória
			| sobre a projeção do cenário eleitoral nas mídias digitais

	block plotArea
		.row.justify-content-around
			.col-8.order-md-2.order-2.bg-light
				img(src="/imagens/Gráfico_exemplo.png", alt="Gráfico requisitado", width="100%")
			.py-2.col-md-3.order-md-1.order-1.bg-light
				.py-2.h4.mb-3.text-center Controle
				form.needs-validation(novalidate="")
					.row
						.py-2.col-md-12
							+digitalMedia
						.py-2.col-md-12
							+queries
						.py-2.col-md-12
							+categories
						.py-2.col-md-12
							label(for="actors") Atores:
					.py-2.mb-4
						+actors
					.d-block.my-3
						.custom-control.custom-checkbox
							input#clearActors.form-check-input(type="checkbox")
							label.form-check-label(for="clearActors") Limpar atores
				button#search.btn.btn-primary(type='button') Visualizar
